body {
    background: rgba(0, 0, 0, .9);
    margin: 0;
    color: #ffffff;
    font-family: 'Oswald', serif;
    margin-top: 64px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header-content {
    position: absolute;
    z-index: 1;
    top: 2.5%;
    left: 50%;
    /* margin-top: 105px; */
    margin-left: -145px;
    text-align: center;
    width: 300px;
    height: 200px;
}

.header-content .logo {
    height: 100px;
}

.section-title {
    font-size: 2rem;
}

.text {
    line-height: 1.5;
    margin-top: 1rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.text-center {
    text-align: center;
    margin: auto;
}

.bg-green {
    background: rgb(108, 186, 135);
    color: black;
}

.text-extra-dark {
    color:#343a40 !important;
}

.bg-extra-light {
    background-color: #f8f9fa !important;
}

.up {
    color: #ffffff;
    text-decoration: none;
    display: block;
    float: right;
}

.tabcontent:before {
    height: 62px;
    content: "";
    display:block;
}

.navbar-brand img {
    margin: auto;
    border-radius: 5px;
    border: solid 2px rgb(108, 186, 135);
    height: 40px;
    width: 40px;
}

/* Responsive support */
@media screen and (max-width: 405px) {
    .grid-4 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .header-content {
        text-align: center;
        height: auto;
        width: fit-content;
        top: 5%;
    }

    .header-content .logo {
        display: none;
    }

    img {
        height: auto;
        width: fit-content;
    }
}

@media screen and (max-width: 1000px) {
    .header-content {
        max-width: fit-content;
    }

    .header-content .logo {
        height: 60px;
        width: 100px;
    }

    .icon-padding {
        padding: 10px;
    }

}  

@media(max-width: 1024px) {
    .header-content {
        /* margin-top: 10%; */
        max-width: fit-content;
    }

}





